DATABASE_URL=postgresql://postgres.xazsbitfnpmfranrgfjw:rhdqngo123@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres
NEXT_PUBLIC_SUPABASE_URL=https://xazsbitfnpmfranrgfjw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhhenNiaXRmbnBtZnJhbnJnZmp3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTMxNzE2NTYsImV4cCI6MjA2ODc0NzY1Nn0.NbnAlc6tktJYCOnHAWK9w321Xs9j1nhDAatyCUMrOEw 